@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
  background-color:#050914;
  /* height: 100vh; */
  color: white;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}


.hero__title strong,.hero__getStarted-title{
  /* color: red; */
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
 -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent; 
}


.hero__discountBar{
  background: linear-gradient(125.17deg, #272727 0%, #11101D 100%);
  border-radius: 10px;
  background-color: red;
}

p,li{
  color:rgba(255, 255, 255, 0.7) !important;
}

p{
  font-size: 18px !important;
  line-height: 170% !important;

}

.hero__getStarted{
  border-radius: 50%;
}


button{
  background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%) !important;
border-radius: 10px !important;
}


@media  screen and (min-width:680px) and (max-width:960px) {
  .features-container{
     grid-template-rows: repeat(2,350px) 1fr repeat(3,350px);
     row-gap: 3rem !important;
  }
  
}


.perkItem :last-child{
  padding: 12px;
  border-radius: 10px;
  max-width: 400px;
  
}
.perkItem img{
  background: rgba(9, 151, 124, 0.1);
}
.perkItem.gray-bg{
  padding: 10px;
    background: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
  
}
.gray-bg{
  padding: 10px;
    background: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
  
}
.bg-transparent{
  background: transparent !important;
}


.perkItem p{
  line-height: 22px !important;
  
}


.CTA{
  padding: 2rem;
  border-radius: 10px;
}